@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString()) </h1>
<p class="lead">@T("Use the form below to change your password.")</p>
<p class="lead">@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <legend>@T("Account Information")</legend>
         <div>
            <label for="currentPassword">@T("Current password:")</label>
            @Html.Password("currentPassword", "", new { @class="form-control", autofocus="autofocus"}) 
            @Html.ValidationMessage("currentPassword") 
        </div>        
        <div>
            <label for="newPassword">@T("New password:")</label>
            @Html.Password("newPassword", "", new { @class="form-control", autofocus="autofocus"}) 
            @Html.ValidationMessage("newPassword") 
        </div>
        <div>
            <label for="confirmPassword">@T("Confirm new password:")</label>
            @Html.Password("confirmPassword", "", new { @class="form-control", autofocus="autofocus"}) 
            @Html.ValidationMessage("confirmPassword") 
        </div>
        <br />
        <div>
            <button class="btn btn-primary btn-lg" type="submit">@T("Change Password")</button>
        </div>
    </fieldset>
 } 