@using Orchard.Mvc.Html;

@{
    var siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);

    var title = Model.Title + WorkContext.CurrentSite.PageTitleSeparator + siteName;

    Style.Include("bootstrap.min.css");
    Style.Include("Site.css");
    Script.Require("jQuery").AtHead();
    Script.Include("bootstrap.min.js").AtFoot();
    Script.Include("jquery.bootpag.min.js").AtHead();

}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture">
    <head>
         <title>厦门大学法学院</title>
        <link rel="shortcut icon" href="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/favicon.ico"))" />
        @Display(Model.Head)
    </head>
    <body class="text-justify">
        @Display(Model.Body) 
        @Display(Model.Tail)     
    </body>
</html>