@{
    Layout.Title = Html.TitleForPage(T("Request Lost Password")).ToString();
}

<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
<p class="lead">@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary(T("Please provide an username or email.").ToString())
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="form-group">
            <label for="username">@T("Username or E-mail:")</label>
            @Html.TextBox("username","", new { @class="form-control" , autofocus= "autofocus", required="required"}) 
            @Html.ValidationMessage("username") 
        </div>
        <div>
            <button class="btn btn-primary btn-lg" type="submit">@T("Send Request")</button>
        </div>
    </fieldset>
 } 