@using System.Globalization;
@{
    ViewBag.Title = "ENHome";
    var menus = ViewBag.submenu;
}

<div id="carousel-en" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (var i = 0; i < ViewBag.banners.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#carousel-en" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#carousel-en" data-slide-to="@i"></li>
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < ViewBag.banners.Count; i++)
        {
            if (i == 0)
            {
                <div class="item active" style="background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('@ViewBag.banners[i].ImageAddress');">

                    <div class="carousel-caption">
                        <p>
                            @ViewBag.banners[i].Title
                        </p>
                        <a class="btn btn-default btn-primary" href="@ViewBag.banners[i].LinkAddress">READ MORE></a>
                    </div>
                </div>
            }
            else
            {
                <div class="item" style="background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('@ViewBag.banners[i].ImageAddress');">

                    <div class="carousel-caption">
                        <p>
                            @ViewBag.banners[i].Title
                        </p>
                        <a class="btn btn-default btn-primary" href="@ViewBag.banners[i].LinkAddress">READ MORE></a>
                    </div>
                </div>
            }

        }


    </div>
    <a class="left carousel-control" href="#carousel-en" role="button" data-slide="prev">
        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/en/ic_banner_next_left_n.png"))" />
    </a>
    <a class="right carousel-control" href="#carousel-en" role="button" data-slide="next">
        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/en/ic_banner_next_right_n.png"))" />
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="en-column">
                <span class="title ">News</span>
                <a class="more pull-right" href="@Url.Action("ENPaging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CollegeENNews"})">All News</a>
            </div>
            <div class="row">
                @foreach (var newsItem in ViewBag.news)
                {
                    string bodyHtml = newsItem.Text;
                    var body = new HtmlString(Html.Excerpt(bodyHtml, 200).ToString().Replace(Environment.NewLine, Environment.NewLine));
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <img src="@newsItem.ImageAddress">
                            <div class="caption">
                                <p class="title">@newsItem.Title</p>
                                <p class="time">@newsItem.PublishedUtc.ToLocalTime().ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-US"))</p>
                                <p class="content">@body</p>
                                <p class="more"><a href="@Url.Action("ENItem","XmContent",new { Id=@newsItem.Id, contentTypeName  = "CollegeENNews"})">Read More</a></p>
                                
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="en-column">
                <span class="title ">Notice</span>
                <a class="more pull-right">All Notice</a>
            </div>
            <ul class="notice list-group">
                @foreach (var notice in ViewBag.notice)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p class="month">@notice.PublishedUtc.ToLocalTime().ToString("MMM", CultureInfo.CreateSpecificCulture("en-US"))</p>
                                <p class="date">@notice.PublishedUtc.ToLocalTime().ToString("dd", CultureInfo.CreateSpecificCulture("en-US"))</p>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p class="title"><a href="@Url.Action("ENItem","XmContent",new { Id=@notice.Id, contentTypeName  = "CollegeENNotice"})">@notice.Title</a></p>
                                <p class="time">@notice.PublishedUtc.ToLocalTime().ToString("HH:mm")</p>
                            </div>
                        </div>
                    </li>
                }
                
                
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 2em;">
        @foreach (var sec in ViewBag.sections)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 entry">
                <a href="@sec.LinkAddress">
                    <div class="content" style="background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url('@sec.ImageAddress');">
                        <p>@sec.Title</p>
                    </div>
                </a>
            </div>
        }


    </div>
</div>
<div class="container">

    <div class="expand-menu">
        <div class="row">
            @for (var j = 0; j < menus.Count; j++)
            {
                if (j % 3 == 0)
                {
                    <div class="clearfix"></div>
                }

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <span>@menus[j].List[0].Text</span>
                    @for (var i = 1; i < menus[j].List.Count; i++)
                    {
                        <p><a href="@menus[j].List[i].Url">@menus[j].List[i].Text</a></p>
                    }


                </div>
            }

        </div>
    </div>
</div>