@{
    ViewBag.Title = "ENHome";
}

<div id="carousel-en" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-en" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-en" data-slide-to="1"></li>
        <li data-target="#carousel-en" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

            <div class="carousel-caption">
                

                    <p>The Dean of Faculty of Law, The
                    University of Hong Kong Visited
                    XMU Law School</p>
                    <button class="btn btn-default btn-primary">READ MORE></button>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

            <div class="carousel-caption">
                

                    <p>The Dean of Faculty of Law, The
                    University of Hong Kong Visited
                    XMU Law School</p>
                <button class="btn btn-default btn-primary">READ MORE></button>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

            <div class="carousel-caption">
                

                    <p>The Dean of Faculty of Law, The
                    University of Hong Kong Visited
                    XMU Law School</p>
                <button class="btn btn-default btn-primary">READ MORE></button>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-en" role="button" data-slide="prev">
        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/en/ic_banner_next_left_n.png"))" />
    </a>
    <a class="right carousel-control" href="#carousel-en" role="button" data-slide="next">
        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/en/ic_banner_next_right_n.png"))" />
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="en-column">
                <span class="title ">News</span>
                <a class="more pull-right">All News</a>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png"))">
                        <div class="caption">
                            <p class="title">Leading experts discuss why the time is right to transform advanced care</p>
                            <p class="time">July 29, 2016</p>
                            <p class="content">The Class of 2016 celebrated in fine fashion on May 25 and 26 as they marked the end of an academic era and looked forward to what lies fsfsfsfsfsf</p>
                            <p class="more"><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="en-column">
                <span class="title ">Notice</span>
                <a class="more pull-right">All Notice</a>
            </div>
            <ul class="notice list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <p class="month">AUG</p>
                            <p class="date">20</p>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <p class="title">Everywhen: The Eternal Present in Indigenous Art from Australia</p>
                            <p class="time">09:30</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <p class="month">AUG</p>
                            <p class="date">20</p>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <p class="title">Everywhen: The Eternal Present in Indigenous Art from Australia</p>
                            <p class="time">09:30</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <p class="month">AUG</p>
                            <p class="date">20</p>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <p class="title">Everywhen: The Eternal Present in Indigenous Art from Australia</p>
                            <p class="time">09:30</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <p class="month">AUG</p>
                            <p class="date">20</p>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <p class="title">Everywhen: The Eternal Present in Indigenous Art from Australia</p>
                            <p class="time">09:30</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <p class="month">AUG</p>
                            <p class="date">20</p>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <p class="title">Everywhen: The Eternal Present in Indigenous Art from Australia</p>
                            <p class="time">09:30</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6 entry">

        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 entry">

        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 entry">

        </div>
    </div>
</div>
<div class="container">
   <h1>@ViewBag.submenu.Count</h1> 
</div>