@using Orchard.Xmu;
@{
    ViewBag.Title = "Index";
}


<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-numbers">
        <li data-target="#carousel-home" data-slide-to="0" class="active">1</li>
        <li data-target="#carousel-home" data-slide-to="1">2</li>
        <li data-target="#carousel-home" data-slide-to="2">3</li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
            
            <div class="carousel-caption">
                <div class="container">
                    
                    <div class="col-md-8">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
           
            <div class="carousel-caption" >
                <div class="container">
                    
                    <div class="col-md-8">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
            
            <div class="carousel-caption">
                <div class="container">
                    
                    <div class="col-md-8">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container column" >
    <div class="row">
        <div class="col-md-7">
            <div class="column-larger">
                <div class="row">
                    <span class="title">学院新闻</span>
                    <span class="more">更多></span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5" style="padding: 0;">
                        <div id="carousel-news" class="carousel slide carousel-medium" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-news" data-slide-to="1"></li>
                                <li data-target="#carousel-news" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">
                                        

                                            <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>
                                       
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">
                                        
                                            <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>
                                        
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">
                                        
                                            <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="column-smaller">
                <div class="row">
                    <span class="title">学院新闻</span>
                    <span class="more">更多></span>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_public_affairs.jpg"))" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_recruiting_information.jpg"))" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_research_institute.jpg"))" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_social_services.jpg"))" class="img-responsive"/>
        </div>
    </div>
</div>