@using Orchard.Xmu;
@{
    ViewBag.Title = "Index";
}


<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-numbers">
        <li data-target="#carousel-home" data-slide-to="0" class="active">1</li>
        <li data-target="#carousel-home" data-slide-to="1">2</li>
        <li data-target="#carousel-home" data-slide-to="2">3</li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
            
            <div class="carousel-caption">
                <div class="container">
                    
                    <div class="col-md-8">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
           
            <div class="carousel-caption" >
                <div class="container">
                    
                    <div class="col-md-8">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
            
            <div class="carousel-caption">
                <div class="container">
                    
                    <div class="col-md-8">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container column" >
    <div class="row">
        <div class="col-md-7">
            <div class="column-larger">
                <div class="row header">
                    <span class="title">学院新闻</span>
                    <span class="more">更多></span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5" style="padding: 0;">
                        <div id="carousel-news" class="carousel slide carousel-medium" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-news" data-slide-to="1"></li>
                                <li data-target="#carousel-news" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">
                                        

                                            <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>
                                       
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">
                                        
                                            <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>
                                        
                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">
                                        
                                            <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" style="padding-right: 0;">
                        <ul class="news list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href="">[社会实践]知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href="">[社会实践]门中院啊多久啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href=""><span class="topic">[社会实践]</span>啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href="">知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href="">嘿嘿</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href="">[社会实践]知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>
                                    <div class="col-sm-3 time">2016-08-25</div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="column-smaller">
                <div class="row header">
                    <span class="title">讲座会议</span>
                    <span class="more">更多></span>
                </div>
                <hr />
                <div class="row">
                    <ul class="meeting list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="title"><a href="">国际税收中的主要问题与最新发展</a></div>
                                
                            </div>
                            <div class="row text-left">
                                <span class="author">叶永青</span>
                                <span class="location">法学院B137</span>
                                <span class="time">2016/07/17 19:30</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="title"><a href="">国际税收中的主要问题与最新发展阿达阿达</a></div>

                            </div>
                            <div class="row text-left">
                                <span class="author">叶永青</span>
                                <span class="location">法学院B137</span>
                                <span class="time">2016/07/17 19:30</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="title"><a href="">国际税收中的主要问题与最新发展</a></div>

                            </div>
                            <div class="row text-left">
                                <span class="author">叶永青</span>
                                <span class="location">法学院B137</span>
                                <span class="time">2016/07/17 19:30</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="column-medium">
                <div class="row header">
                    <span class="title">通知公告</span>
                    <span class="more">更多></span>
                </div>
                <hr />
                <ul class="news list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href=""><span class="topic">[院务]</span>关于2016下半年在职法律硕士提交论文和论文答辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href="">关于2016下半年在职法律硕士提交论文和论文答辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href="">关于2016下半年在职法律硕士提交论文和论文答辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href="">关于20辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href="">关于2016下半年在职法律硕士提交论文和论文答辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href=""><span class="topic">[院务]</span>关于2016下半年在职法律硕士提交论文和论文答辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href="">关于2016下半年在职法律硕士提交论文和论文答辩啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9 name"><a href="">关于2016啊哒哒哒</a></div>
                            <div class="col-sm-3 time">2016-08-25</div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="column-medium">
                <div class="row header">
                    <span class="title">科研成果</span>
                    <span class="more">更多></span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5" style="padding: 0;">
                        <div id="carousel-notice" class="carousel slide carousel-medium" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                <li data-target="#carousel-notice" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-notice" data-slide-to="1"></li>
                                <li data-target="#carousel-notice" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">


                                        <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>

                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">

                                        <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>

                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">

                                        <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" style="padding-right: 0;">
                        <ul class="news list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>
                                    
                                </div>

                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>