@using Orchard.Xmu;
@using Orchard.Xmu.Models;
@using Orchard.Taxonomies.Models;
@{
    ViewBag.Title = "Index";
    var topBanners = ViewBag.banners;
    var topNews = ViewBag.topNews;
    var news = Enumerable.Cast<XmContentPart>((System.Collections.IEnumerable)ViewBag.news);
    var lectures = ViewBag.lectures;
    var notice = ViewBag.notice;
    var topCoop = ViewBag.topCoop;
    var coop = ViewBag.coop;
    var shows = ViewBag.shows;
}


<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-numbers">
        @for (var i = 0; i < ViewBag.banners.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#carousel-home" data-slide-to="0" class="active">1</li>
            }
            else
            {
                <li data-target="#carousel-home" data-slide-to="@i">@(i+1)</li>
            }
        }

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (var i = 0; i < topBanners.Count; i++)
        {
            if (i == 0)
            {
                <div class="item active" style="background-image: url('@topBanners[i].ImageAddress');" onclick="window.location.href = '@topBanners[i].LinkAddress';">

                    <div class="carousel-caption">
                        <div class="container">

                            <div class="col-md-8">@topBanners[i].Title</div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="item" style="background-image: url('@topBanners[i].ImageAddress');" onclick="window.location.href = '@topBanners[i].LinkAddress';">

                    <div class="carousel-caption">
                        <div class="container">

                            <div class="col-md-8">@topBanners[i].Title</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="container column">
    <div class="row">
        <div class="col-md-7">
            <div class="column-larger">
                <div class="row header">
                    <span class="title">学院新闻</span>
                    <span class="more"><a href="@Url.Action("Paging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CollegeNews"})">更多></a></span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5 news-container-left">
                        <div id="carousel-news" class="carousel slide carousel-medium" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                @for (var i = 0; i < topNews.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carousel-news" data-slide-to="@i"></li>
                                    }
                                }
                                
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                @for (var i = 0; i < topNews.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="item active" style="background-image: url('@topNews[i].ImageAddress');" onclick="window.location.href = '@Url.Action("Item","XmContent",new { Id=@topNews[i].Id, contentTypeName  = "CollegeNews"})';">

                                            <div class="carousel-caption">


                                                <p class="">@topNews[i].Title</p>

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item" style="background-image: url('@topNews[i].ImageAddress');" onclick="window.location.href = '@Url.Action("Item","XmContent",new { Id=@topNews[i].Id, contentTypeName  = "CollegeNews"})';">

                                            <div class="carousel-caption">

                                                <p class="">@topNews[i].Title</p>

                                            </div>
                                        </div>
                                    }
                                }
                               
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 news-container-right">
                        <ul class="news list-group">
                            @foreach (var newsItem in news)
                            {
                                
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9 name"><a href="@Url.Action("Item","XmContent",new { Id=@newsItem.Id, contentTypeName  = "CollegeNews"})" >@newsItem.Title</a></div>
                                        <div class="col-sm-3 time">@newsItem.CreatedUtc.Value.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                    </div>

                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="column-smaller">
                <div class="row header">
                    <span class="title">讲座会议</span>
                    <span class="more"><a href="@Url.Action("Paging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "LectureInfo"})">更多></a></span>
                </div>
                <hr />
                <div class="row">
                    <ul class="meeting list-group">
                        @foreach (var lecture in lectures)
                        {
                            <li class="list-group-item">
                               
                                    <div class="row">
                                        <div class="title"><a href="@Url.Action("Item","XmContent",new { Id=@lecture.Id, contentTypeName  = "LectureInfo"})">@lecture.Title</a></div>

                                    </div>
                                    <div class="row text-left">
                                        <span class="author">@lecture.Lecturer</span>
                                        <span class="location">@lecture.LectureAddress</span>
                                        <span class="time">@lecture.StartTime.ToLocalTime().ToString("yyyy/MM/dd hh:mm")</span>
                                    </div>
                               
                            </li>
                        }
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="column-medium">
                <div class="row header">
                    <span class="title">通知公告</span>
                    <span class="more"><a href="@Url.Action("NoticePaging","XmContent",new { page = 1,pageSize=10, type=0})">更多></a></span>
                </div>
                <hr />
                <ul class="news list-group">
                    @foreach (var noticeItem in notice)
                    {
                        if (noticeItem.Fields.Count > 0 && noticeItem.Fields[0].Terms.Count > 0)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href=""><span class="topic">@String.Format("[{0}]", (noticeItem.Fields[0].Terms[0] as TermPart).Name)</span>@noticeItem.Title</a></div>
                                    <div class="col-sm-3 time">@noticeItem.CreatedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                </div>

                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 name"><a href="">@noticeItem.Title</a></div>
                                    <div class="col-sm-3 time">@noticeItem.CreatedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                </div>

                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="column-medium">
                <div class="row header">
                    <span class="title">科研成果</span>
                    <span class="more"><a href="@Url.Action("Paging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "AcademicWorks"})">更多></a></span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5 news-container-left">
                        <div id="carousel-notice" class="carousel slide carousel-medium" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                <li data-target="#carousel-notice" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-notice" data-slide-to="1"></li>
                                <li data-target="#carousel-notice" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">


                                        <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>

                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">

                                        <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>

                                    </div>
                                </div>
                                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                                    <div class="carousel-caption">

                                        <p class="">关于2017年春季学期“SAF交流生项目”宣讲会通知</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 news-container-right">
                        <ul class="news list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="name"><a href=""><span class="topic">[社会实践]</span>知乎者也队赴厦门中院啊多久啊dna觉得，吗</a></div>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="column-larger">
                <div class="row header">
                    <span class="title">合作交流</span>
                    <span class="more"><a href="@Url.Action("Paging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CNCop"})">更多></a></span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5 news-container-left">
                        <div id="carousel-cooperation" class="carousel slide carousel-medium" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-numbers">
                                @for (var i = 0; i < topCoop.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#carousel-cooperation" data-slide-to="0" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carousel-cooperation" data-slide-to="@i"></li>
                                    }
                                }
                               
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                @for (var i = 0; i < topCoop.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="item active" style="background-image: url('@topCoop[i].ImageAddress');" onclick="window.location.href = '@Url.Action("Item","XmContent",new { Id=@topCoop[i].Id, contentTypeName  = "CNCop"})';">

                                            <div class="carousel-caption">


                                                <p class="">@topCoop[i].Title</p>

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item" style="background-image: url('@topCoop[i].ImageAddress');" onclick="window.location.href = '@Url.Action("Item","XmContent",new { Id=@topCoop[i].Id, contentTypeName  = "CNCop"})';">

                                            <div class="carousel-caption">

                                                <p class="">@topCoop[i].Title</p>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 news-container-right">
                        <ul class="news list-group">
                            @foreach (var coopItem in coop)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9 name"><a href="@Url.Action("Item","XmContent",new { Id=@coopItem.Id, contentTypeName  = "CNCop"})"><span class="topic">[社会实践]</span>@coopItem.Title</a></div>
                                        <div class="col-sm-3 time">@coopItem.CreatedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                    </div>

                                </li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="column-smaller">
                <div class="row header">
                    <span class="title">学院风采</span>
                    <span class="more"><a href="@Url.Action("Paging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CNCollegeShow"})">更多></a></span>
                </div>
                <hr />
                <div id="carousel-shows" class="carousel slide carousel-shows" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators carousel-indicators-numbers">
                        @for (var i = 0; i < shows.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#carousel-shows" data-slide-to="0" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#carousel-shows" data-slide-to="@i"></li>
                            }
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @for(var i = 0; i < shows.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="item active" style="background-image: url('@shows[i].ImageAddress');" onclick="window.location.href = '@Url.Action("Item","XmContent",new { Id=@shows[i].Id, contentTypeName  = "CNCollegeShow"})';">

                                    <div class="carousel-caption">

                                        <p class="title">@shows[i].Title</p>
                                        <p class="">@shows[i].SubTitle</p>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="item" style="background-image: url('@shows[i].ImageAddress');" onclick="window.location.href = '@Url.Action("Item","XmContent",new { Id=@shows[i].Id, contentTypeName  = "CNCollegeShow"})';">

                                    <div class="carousel-caption">
                                        <p class="title">@shows[i].Title</p>
                                        <p class="">@shows[i].SubTitle</p>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container cn-blocks">

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_research_institute.jpg"))" />
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_social_services.jpg"))" />
        </div>

        <div class="col-md-3">
            <img class="img-responsive" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_recruiting_information.jpg"))" />
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_public_affairs.jpg"))" />
        </div>
    </div>
</div>