@using Orchard.Xmu;
@{
    ViewBag.Title = "Index";
}


<div style="display: none;">
    <h3>@ViewBag.hello</h3>
    <h3>@ViewBag.taxonomyName</h3>
    <h4>Count:@ViewBag.items.Count</h4>
    @foreach (var titlePart in ViewBag.items)
    {
        <h2>@titlePart.Title</h2>
        <h4>@titlePart.Text</h4>
    }
</div>

<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-numbers">
        <li data-target="#carousel-home" data-slide-to="0" class="active">1</li>
        <li data-target="#carousel-home" data-slide-to="1">2</li>
        <li data-target="#carousel-home" data-slide-to="2">3</li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
            
            <div class="carousel-caption">
                <div class="row">
                    
                    <div class="col-md-6 col-md-offset-1">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
           
            <div class="carousel-caption" >
                <div class="row">
                    
                    <div class="col-md-6 col-md-offset-1">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">
            
            <div class="carousel-caption">
                <div class="row">
                    
                    <div class="col-md-6 col-md-offset-1">关于2017年春季学期“SAF交流生项目”宣讲会通知</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container cn-home-columns" >
    <div class="row">
        <div class="column col-md-8 col-sm-12 col-xs-12">
            <ul class="nav nav-pills" role="tablist">

                <li role="presentation" class="active"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">学院新闻</a></li>
                <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">院务通知</a></li>
                <li role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">科研成果</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in " id="news">
                    <ul class="list-group">
                        @foreach (var item in ViewBag.items)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">@item.Title fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">@item.PublishedUtc.ToString("yyyy-MM-dd")</div>
                                </div>

                            </li>
                        }
                        <!--

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-9 title-name">院领导走访杭州、上海院友，推进法学院90周年院庆工作</div>
                <div class="col-sm-3 title-time">2016-08-16</div>
            </div>

        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-9 title-name">2016厦门国际法高等研究院暑期班圆满落幕</div>
                <div class="col-sm-3 title-time">2016-08-16</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-9 title-name">社会实践-社区矫正调研第二站—厦门市思明区司法局滨海司法所</div>
                <div class="col-sm-3 title-time">2016-08-16</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-9 title-name">厦门大学法学院2016年优秀大学生夏令营顺利闭幕</div>
                <div class="col-sm-3 title-time">2016-08-16</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-9">我院青年教职工协会荣获2014-2015年度厦门大学工会“先进集体”称号</div>
                <div class="col-sm-3 title-time">2016-08-16</div>
            </div>
        </li>
        -->

                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="notifications">

                </div>
                <div role="tabpanel" class="tab-pane fade " id="results">

                </div>

            </div>
        </div>
        <div class="side-column col-md-4 col-xs-12">
            <div class="row column-header">
                <div class="col-md-8 col-sm-8 col-xs-8 column-title">
                    讲座会议
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 column-more">
                    <a href="@Url.Action("Paging", "XmContent", new { contentTypeName="CollegeNews", page = 1,pageSize=10 })">查看全部</a>
                </div>
            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    
                </ul>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_public_affairs.jpg"))" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_recruiting_information.jpg"))" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_research_institute.jpg"))" class="img-responsive"/>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/img_social_services.jpg"))" class="img-responsive"/>
        </div>
    </div>
</div>