@using System.Globalization;
@{

    var total = ViewBag.total;
    var items = ViewBag.items;
    var page = ViewBag.page;
    var pagesize = ViewBag.pageSize;
    var contentTypeName = ViewBag.ContentTypeName;

}

<div class="container-fluid list-header">
    <div class="container">
        <h1>@ViewBag.ListTitle</h1>
    </div>
</div>
<div class="container en-list">
    <div class="en-column">
        <div class="row">
            @foreach (var item in items)
            {
                string bodyHtml = item.Text;
                var body = new HtmlString(Html.Excerpt(bodyHtml, 200).ToString().Replace(Environment.NewLine, Environment.NewLine));
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="img-container" style="background-image: url('@item.ImageAddress'); background-size: cover;background-repeat: no-repeat;">

                        </div>

                        <div class="caption">
                            <p class="title"><a href="@Url.Action("ENItem","XmContent",new { Id=@item.Id, contentTypeName  = contentTypeName})">@item.Title</a></p>
                            <p class="time">@item.CreatedUtc.ToLocalTime().ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-US"))</p>
                            <p class="content">@body</p>
                            <p class="more"><a href="@Url.Action("ENItem","XmContent",new { Id=@item.Id, contentTypeName  = contentTypeName})">Continue Reading</a></p>

                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
    <div class="row">
        <div id="pagination"></div>
    </div>
</div>
<div id="goToTop"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/en/ic_up.png"))" /><a href="#">TOP</a> </div>
<script>
    $('#pagination').bootpag({
        total: Math.ceil((@total) / @pagesize) ,
        page:  @page,
        maxVisible: 10,
        leaps: false,
        next: 'Next',
        prev: 'Prev',
        firstLastUse: true,
        first: 'First',
        last: Math.ceil((@total) / @pagesize),
    }).on('page', function (event, num) {

        window.location = (location.protocol + '//' + location.host + location.pathname + "?page=" + num + "&pageSize=@pagesize");
    });
    $(document).ready(function () {
        $("#goToTop").hide()
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 1) {
                    $("#goToTop").fadeIn();
                } else {
                    $("#goToTop").fadeOut();
                }
            });
        });
        $("#goToTop").click(function () {
            $('html,body').animate({ scrollTop: 0 }, 400);
            return false;
        });
    });
</script>