@model Orchard.Xmu.Models.ENTeacherPart
@{
    var htmlString = new HtmlString(Model.Text);
    var courses = Model.Courses;
}
<div class="container-fluid detail-header">
    <div class="container">
        <h1 class="title">@Model.ENName</h1>
        
    </div>
</div>
<div class="container-fluid detail-container">
    <div class="container content">
        <div class="col-md-3">
            <img class="avatar" src="@Model.AvatarAddress"/>
        </div>
        <div class="col-md-9">
            @htmlString
            <span class="time">
                Courses:
                @foreach (var course in courses)
            {
                    <a href="@Url.Action("ENCourseItem","XmContent",new { Id=@course.Id})">@String.Format(" {0}  ", @course.CourseName)</a>
                }
            </span>
        </div>
       

        
    </div>

</div>