@{
    var htmlString = new HtmlString(ViewBag.Item.Text);

}
<article>
    <div class="container-fluid detail-header">
        <div class="container text-center">
            <h1 class="title">@ViewBag.Item.Title</h1>


            @if (ViewBag.ContentTypeName.Equals("LectureInfo"))
            {
                <span class="author">发布人: @ViewBag.Item.Author | </span>
                <span class="author">发布时间: @ViewBag.Item.CreatedUtc.ToLocalTime().ToString("yyyy-MM-dd HH:mm") | </span>
            }
            else
            {
                <span class="author">发布人: @ViewBag.Item.Author | </span>
                <span class="time"> 发布时间: @ViewBag.Item.CreatedUtc.ToLocalTime().ToString("yyyy-MM-dd") | </span>
            }

            <span class="count"> 阅读数: @ViewBag.Item.ViewCount</span>
            <hr />
        </div>
    </div>
    <div class="container-fluid detail-container">
        
        <div class="container">
            @if (ViewBag.ContentTypeName.Equals("LectureInfo"))
            {
                <div class="basic-info">主讲人: @ViewBag.Item.Lecturer</div>
                <div class="basic-info">讲座地点: @ViewBag.Item.LectureAddress</div>
                <div class="basic-info">讲座时间: @ViewBag.Item.StartTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</div>
            }
            @htmlString
        </div>

    </div>
</article>