@{
    Script.Require("NewsMarquee");
    Script.Require("Sly");
    ViewBag.Title = "AnniversaryHome";
}
<div class="top-bg">

</div>
<div class="container">
    
        <div id="carousel-anniversary" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                
                @for (var i = 0; i < ViewBag.banners.Count; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carousel-anniversary" data-slide-to="0" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carousel-anniversary" data-slide-to="@i"></li>
                    }
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @for (var i = 0; i < ViewBag.banners.Count; i++)
                {
                    if (i == 0)
                    {
                            <div class="item active" style="background-image: url('@ViewBag.banners[i].ImageAddress');" onclick="location.href = '@ViewBag.banners[i].LinkAddress';">
                            </div>
                    }
                    else
                    {
                                <div class="item" style="background-image: url('@ViewBag.banners[i].ImageAddress');" onclick="location.href = '@ViewBag.banners[i].LinkAddress';">
                                </div>
                      }
                  }
            </div>
            <a class="left carousel-control" href="#carousel-anniversary" role="button" data-slide="prev">
                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/ic_banner_left.png"))"/>
            </a>
            <a class="right carousel-control" href="#carousel-anniversary" role="button" data-slide="next">
                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/ic_banner_right.png"))" />
            </a>
        </div>
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="banner1">
                    <img class="img-title" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_first.png"))"/>
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_1.png"))" />
                    <ul class="list-group">
                        
                        @foreach (var notice in ViewBag.notice)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name"><a href="@Url.Action("ANItem","XmContent",new { Id=@notice.Id, contentTypeName  = "CelAnnouncement"})">@notice.Title</a></div>
                                    <div class="col-sm-3 title-time">@notice.PublishedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                </div>

                            </li>
                        }
                    </ul>
                    <p class="more text-right"><a href="@Url.Action("ANPaging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CelAnnouncement"})">查看全部></a></p>
                 </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12" style="float: right;">
                <div class="donation">
                    <p class="title">-院庆捐赠-</p>
                    <hr />
                    <div class="row">
                        <ul id="news-ticker">
                            @foreach (var donation in ViewBag.donation)
                            {
                                <li>
                                    <div class="name">@donation.Donator</div>
                                    <div class="fund">@String.Format("{0}元", @donation.DonationAmount)</div>
                                    <div class="time">@donation.DonationTime.ToLocalTime().ToString("yyyy/MM/dd")</div>
                                </li>
                            }
                            

                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12" >
                <div class="banner2">
                    <img class="img-title" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_second.png"))" />
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_2.png"))" />
                    <ul class="list-group">
                        @foreach (var news in ViewBag.news)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name"><a href="@Url.Action("ANItem","XmContent",new { Id=@news.Id, contentTypeName  = "CelNews"})">@news.Title</a></div>
                                    <div class="col-sm-3 title-time">@news.PublishedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                </div>

                            </li>
                        }
                        
                        
                    </ul>
                    <p class="more text-right"><a href="@Url.Action("ANPaging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CelNews"})">查看全部></a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="banner3">
                    <img class="img-cover pull-left" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_picture_third.jpg"))" />
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_3.png"))" />
                    <img class="img-title pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_third.png"))" />
                    <div class="clearfix"></div>
                    <div>
                        <ul class="list-group">
                            @foreach (var article in ViewBag.articles)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8 title-name"><a href="@Url.Action("ANItem","XmContent",new { Id=@article.Id, contentTypeName  = "CelMatesArticle"})">@article.Title</a></div>
                                        <div class="col-sm-4 title-time">@article.PublishedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <p class="more text-center"><a href="@Url.Action("ANPaging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CelMatesArticle"})">查看全部></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="banner4">
                    <img class="img-cover pull-left" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_picture_fourth.jpg"))" />
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_4.png"))" />
                    <img class="img-title pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_fourth.png"))" />
                    <div class="clearfix"></div>
                    <div>
                        <ul class="list-group">

                            @foreach (var show in ViewBag.shows)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-8 title-name"><a href="@Url.Action("ANItem","XmContent",new { Id=@show.Id, contentTypeName  = "CelMatesShows"})">@show.Title</a></div>
                                        <div class="col-sm-4 title-time">@show.PublishedUtc.ToLocalTime().ToString("yyyy-MM-dd")</div>
                                    </div>
                                </li>
                            }
                            
                        </ul>
                        <p class="more text-center"><a href="@Url.Action("ANPaging","XmContent",new { page = 1,pageSize=10, contentTypeName  = "CelMatesShows"})">查看全部></a></p>
                    </div>
                </div>
            </div>
        </div>
        
</div>
<div class="container-fluid" >
    <div >
        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_picture_title.png"))" class="center-block" style="padding: 2em;"/>
    </div>
    <div class="row photo-gallery center-block" style="margin-bottom: 4em;">
        <img class="btn-backward hidden-xs" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/ic_banner_left.png"))" />
        <img class="btn-forward hidden-xs" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/ic_banner_right.png"))" />
       
            <div class="frame crazy center-block" id="crazy">
                
                <ul>
                    @foreach (var photo in ViewBag.gallery)
                    {
                        <li>
                            <img src="@photo.ImageAddress" />
                            <a class="text-content" href="@photo.LinkAddress">@photo.Title</a>
                        </li>
                    }


                </ul>
            </div>
        
        
    </div>
    
</div>
<script>
   
$(function(){
    $('#news-ticker').newsTicker({
        row_height: 22,
        max_rows: 17,
        speed: 500,
        direction: 'up',
        duration: 2000,
        autostart: 1,
        pauseOnHover: 1
    });
    var $frame = $('#crazy');
    var $slidee = $frame.children('ul').eq(0);
    var $wrap = $('.photo-gallery');

    // Call Sly on frame
    $frame.sly({
        horizontal: 1,
        itemNav: 'basic',
        smart: 1,
        activateOn: 'click',
        mouseDragging: 1,
        touchDragging: 1,
        releaseSwing: 1,
        startAt: 0,
        
        scrollBy: 1,
        
        activatePageOn: 'click',
        speed: 300,
        elasticBounds: 1,
        
        dragHandle: 1,
        dynamicHandle: 1,
        clickBar: 1,

        cycleBy: 'page',
        cycleInterval: 1000,
        pauseOnHover: 1,
        startPaused: 1,
        // Buttons
        forward: $wrap.find('.btn-forward'),
        backward: $wrap.find('.btn-backward'),
       
    });
});

</script>
