@{
    Script.Require("NewsMarquee");
    ViewBag.Title = "AnniversaryHome";
}
<div class="top-bg">

</div>
<div class="container">
    
        <div id="carousel-anniversary" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-anniversary" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-anniversary" data-slide-to="1"></li>
                <li data-target="#carousel-anniversary" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                    
                </div>
                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                    
                </div>
                <div class="item" style="background-image: url(@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/cn/top-bg.png")));">

                    
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-anniversary" role="button" data-slide="prev">
                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/ic_banner_left.png"))"/>
            </a>
            <a class="right carousel-control" href="#carousel-anniversary" role="button" data-slide="next">
                <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/ic_banner_right.png"))" />
            </a>
        </div>
        <div class="row" style="margin-top: 4em;">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="banner1">
                    <img class="img-title" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_first.png"))"/>
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_1.png"))" />
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        
                    </ul>
                    <p class="more text-right"><a>查看全部></a></p>
                 </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12" style="float: right;">
                <div class="donation">
                    <p class="title">-院庆捐赠-</p>
                    <hr />
                    <div class="row">
                        <ul id="news-ticker">
                            <li>
                               <div class="name">卢正敏</div>
                               <div class="fund">890元</div>
                               <div class="time">2016/03/19</div>
                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>
                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>
                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>
                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏(2016自考)</div>
                                <div class="fund">11890元</div>
                                <div class="time">2016/03/19</div>

                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">8900元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>

                            <li>
                                <div class="name">卢正敏</div>
                                <div class="fund">890元</div>
                                <div class="time">2016/03/19</div>

                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12" >
                <div class="banner2">
                    <img class="img-title" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_second.png"))" />
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_2.png"))" />
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                            </div>

                        </li>
                        
                    </ul>
                    <p class="more text-right"><a>查看全部></a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="banner3">
                    <img class="img-cover pull-left" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_picture_third.jpg"))" />
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_3.png"))" />
                    <img class="img-title pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_third.png"))" />
                    <div class="clearfix"></div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                                </div>

                            </li>
                        </ul>
                        <p class="more text-center"><a>查看全部></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="banner4">
                    <img class="img-cover pull-left" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_picture_fourth.jpg"))" />
                    <img class="img-number pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_number_4.png"))" />
                    <img class="img-title pull-right" src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/images/anniversary/img_title_fourth.png"))" />

                    <div class="clearfix"></div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9 title-name">fsffsfsfssfsadadadaadadadadadadada</div>
                                    <div class="col-sm-3 title-time">yyyy-MM-dd</div>
                                </div>

                            </li>
                        </ul>
                        <p class="more text-center"><a>查看全部></a></p>
                    </div>
                </div>
            </div>
        </div>
    
</div>
<script>
   
$(function(){
    $('#news-ticker').newsTicker({
        row_height: 22,
        max_rows: 17,
        speed: 500,
        direction: 'up',
        duration: 2000,
        autostart: 1,
        pauseOnHover: 1
    });

});

</script>
