@using Orchard.ContentManagement;
@using Orchard.Core.Contents
@using Orchard.Utility.Extensions;
@using Orchard.Xmu.Models;
@{
    Script.Require("ShapesBase");
    ContentItem contentItem = Model.ContentItem;
    var part = contentItem.As<ENTeacherPart>();
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}
<div class="summary" itemscope="itemscope" itemid="@contentItem.Id" itemtype="http://orchardproject.net/data/ContentItem">
    <div class="properties">
        <h3>@Html.ItemAdminLink(part.ENName, contentItem)</h3> - <div class="contentType">@contentItem.TypeDefinition.DisplayName</div>
        @if (Model.Header != null)
        {
            <div class="header">@Display(Model.Header)</div>
        }

    </div>

    <div class="related">

        @Html.ItemEditLink(T("编辑").Text, contentItem)@T(" | ")
        @Html.Link(T("删除").Text, Url.ItemRemoveUrl(contentItem, new { returnUrl }), new { itemprop = "RemoveUrl UnsafeUrl" })

    </div>


</div>
